.group {
    max-width: 1170px;
    margin-top: 198px;
    margin-left: 175px;
    margin-right: 175px;
    margin-bottom: 160px;
    padding: 0;
    display: flex;
    align-items: center;

    &__active {
        display: flex;
        align-items: center;
        margin: 0;
        padding: 0;
    }

    &__box {
        border: 1px solid #FF9619;
        background-color: #ffffff;
        margin: 0;
        padding: 45px 50px;
        font-family: 'Raleway';
        font-style: normal;
        font-weight: 300;
        font-size: 30px;
        line-height: 35px;
        color: #343434;        
    }

    &__text {
        margin: 0;
        margin-right: 2px;
        padding: 0;
    }
}