.s-main {
    margin: 0;
    padding: 0;

    &__top {
        margin: 0;
        margin-bottom: 10px;
        padding: 0;
        display: flex;
        align-items: center;
        justify-content: space-between;
    }

    &__bottom {
        margin: 0;
        padding: 0;
        display: flex;
        align-items: center;
        justify-content: space-between;
    }
}